<!DOCTYPE html>
<html>

<head>
  <title>Happy</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width-device-width, intial-scale=1.0" />
  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animation.css">
  <link rel="stylesheet" href="/css/page-landing.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body id="body">
  <div id="page-landing">
    <div id="container">
      <header>
        <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logo Marca de Happy" />

        <div class="location animate-up">
          <strong>Rio do Sul</strong>
          <p>Santa Catarina</p>
        </div>
      </header>

      <main class="animate-up">
        <h1>Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">Visite orfanatos e mude o mundo de muitas crianças</p>

          <a href="orfanatos.html" title="Visite Orfanatos" class="animate-up">
            <img src="/images/arrow.svg" alt="" />
          </a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>